@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEF8F0;
  --foreground: #1C2B3A;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
